.headerFooter {
  background: black;
}

.header {
  align-items: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__text {
  color: white;
  margin-left: 10px;
}

.footer {
  color: white;
  height: 39px;
  display: flex;
  align-items: center;
}
